[submodule "platform-bom-base"]
	path = platform-bom-base
	url = https://github.com/HarishM84/platform-bom-base.git
[submodule "platform-bom-entity"]
	path = platform-bom-entity
	url = https://github.com/HarishM84/platform-bom-entity.git
